
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body{
    margin: 0;
    padding: 0;
    list-style: none;
    color: hsla(0, 0%, 100%, 0.75);
    background-color:hsl(0, 0%, 95%) ;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 90%;
    margin-right: 25%;
    margin-bottom: 13%;
    line-height: 180%;
}
h1{
    font-family: 'Big Shoulders Display';
    font-size: 300%;
}
img{
    width: 25%;
    padding-top: 15%;
}
/*body*/
.body{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
}
.sedans{
    background-color: hsl(31, 77%, 52%) ;
    width: 85%;
    padding-left: 15%;
    margin: 0;
    border-radius: 10px 10px 0px 0px;  
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    width: 85%;
    padding-left: 15%;
    margin: 0;
}
.luxury{
    background-color:hsl(179, 100%, 13%) ;
    width: 85%;
    padding-left: 15%;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
}
.button{  
    background-color: hsl(0, 0%, 95%);
    color: transparent;
    border-radius: 40px;
    width: 50%;
    height: 10%;
    margin-bottom: 25%;
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 100%;
   border-color: transparent;
    cursor: pointer;
    text-decoration: none; 
}
.button1{
    color:  hsl(31, 77%, 52%);
}
.button2{
    color: hsl(184, 100%, 22%);
}
.button3{
    color:hsl(179, 100%, 13%);
}
.button:hover{
    border: solid 3px hsla(0, 0%, 100%, 0.75);
    color:  hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
    width: 50.1%;
    height: 10.1%;
    transition-duration: 0.5s; 
 }
/*______________________________________________________________*/
@media (min-width: 992px){
.body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
    line-height: 275%;
}
.sedans{
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    padding-left: 20%;
    
}
.suvs{
    width: 100%;
    height: 100%;
    padding-left: 20%;
}
.luxury{
    width: 100%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    padding-left: 20%;
}
p{
    padding-bottom: 15%;
    font-size: 130%;
    margin-right: 35%; 
}
h1{
    font-size: 400%;
}
img{
    padding-top: 15%;
}
.button{
    margin-bottom: 30%;
    font-size: 125%;
}
}